<h1>HyperMath</h1>
<ul class="small-block-grid-4">
  <li>
    <small>Valor de X</small>
    <input type="text" name="" value="" ng-model="x">
  </li>
  <li>
    <small>Operação</small>
    <input type="text" name="" value="" ng-model="operation">
  </li>
  <li>
    <small>Valor de Y</small>
    <input type="text" name="" value="" ng-model="y">
  </li>
  <li>
    <small>Resultado</small>
    <input type="text" name="" value="" ng-model="result">
  </li>
  <li>
    <a ng-click="setValue(1)" class="expand secondary button large">1</a>
  </li>
  <li>
    <a ng-click="setValue(2)" class="expand secondary button large">2</a>
  </li>
  <li>
    <a ng-click="setValue(3)" class="expand secondary button large">3</a>
  </li>
  <li>
    <a ng-click="setOperation('*')" class="expand button large">x</a>
  </li>
  <li>
    <a ng-click="setValue(4)" class="expand secondary button large">4</a>
  </li>
  <li>
    <a ng-click="setValue(5)" class="expand secondary button large">5</a>
  </li>
  <li>
    <a ng-click="setValue(6)" class="expand secondary button large">6</a>
  </li>
  <li>
    <a ng-click="setOperation('/')" class="expand button large">÷</a>
  </li>
  <li>
    <a ng-click="setValue(7)" class="expand secondary button large">7</a>
  </li>
  <li>
    <a ng-click="setValue(8)" class="expand secondary button large">8</a>
  </li>
  <li>
    <a ng-click="setValue(9)" class="expand secondary button large">9</a>
  </li>
  <li>
    <a ng-click="setOperation('-')" class="expand button large">-</a>
  </li>
  <li>
    <a class="expand secondary button large">0</a>
  </li>
  <li>
    <a class="expand secondary button large">C</a>
  </li>
  <li>
    <a class="expand secondary button large">CE</a>
  </li>
  <li>
    <a ng-click="getResult()" class="expand button large">=</a>
  </li>
</ul>
